body {
    background-color: pink;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    background-image: url(images/cover-1.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

*{margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;}
   


.gallery { 
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
}

.gallery::-webkit-scrollbar{
   
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}



